
@{
    ViewData["Title"] = "PizzaType";
}

<h4>Preset pizza or custom pizza? </h4>
<hr />
<div>
    <button onclick="location.href='@Url.Action("PresetPizza", "Order")'" type="button" class="btn btn-primary btn-lg btn-block">Preset Pizza</button>
    <button onclick="location.href='@Url.Action("CustomPizza", "Order")'" type="button" class="btn btn-primary btn-lg btn-block">Custom Pizza</button>
</div>
