
@{
    ViewData["Title"] = "PizzaType";
}

<h4>Choose a pizza to order </h4>
<hr />
<div>
    <button onclick="location.href='@Url.Action("PresetPizza", "Order")'" type="button" class="btn btn-primary btn-lg btn-block">Preset</button>
    <button onclick="location.href='@Url.Action("CustomPizza", "Order")'" type="button" class="btn btn-primary btn-lg btn-block">Custom</button>
</div>
<br />
<br />
<div>
    <button onclick="location.href='@Url.Action("WhichMenu", "Menu")'" type="button" class="btn btn-secondary btn-lg btn-block">Go to menu</button>
</div>
